<!DOCTYPE html>
<html lang="en-AU">
  <head>
    <title>Ben Hoad's Personal Blog</title>
    <meta
      property="og:title"
      content="Ben Hoad's Personal Blog"
    />
    <meta
      name="description"
      content="I build random things, sometimes they're useful, other times they're not as useful..."
    />
    <meta
      property="og:description"
      content="I build random things, sometimes they're useful, other times they're not as useful..."
    />
    <meta property="og:image" content="https://benhoad.net/share.jpg" />
    <meta property="og:url" content="https://benhoad.net" />
    <meta name="author" content="Ben Hoad" />

    <meta
      name="google-site-verification"
      content="wtlEOFJ0tj_1UxYEj6Yoru93npUE6Gx0ahj8rrP5nik+MPZSD+0jKQebLs="
    />
    <meta name="p:domain_verify" content="af2f718c472c4377aa9bccb03e81aa4e" />

    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"
    />
    <link type="image/png" href="/favicon.png" rel="icon" />

    <link
      href="https://fonts.googleapis.com/css?family=Enriqueta|Open+Sans:400,700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <aside>
      <a href="/">
        Ben Hoad

        <div id="spinner"></div>
      </a>
    </aside>

    <section class="about">
      <p>
        Hi, I'm Ben Hoad. I'm a Frontend Developer who sometimes makes things and other times does some stuff. 
      </p>
      <p>
        Here's some stuff:
      </p>
     
    </section>

    <section class="contents">
      <ul>
        <% posts.forEach(post => { %>
        <li>
          <a href="/<%= post.slug %>"><img src='<%= post.headers.share %>'/></a>
          <h2>
            <a href="/<%= post.slug %>"><%= post.title %></a>
          </h2>
          <aside class="meta">
            <%= ['January', 'February', 'March', 'April', 'May', 'June', 'July',
            'August', 'September', 'October', 'November',
            'December'][post.headers.published.getMonth()] %> <%=
            post.headers.published.getFullYear() %>
          </aside>
        </li>
        <% }) %>
      </ul>
    </section>

    <%- include('footer') %>

    
    
     <script src="/cheet.js"></script>
     <script type="module" src="/cube.js"></script>
  </body>
</html>
